
/* css for a file upload */
body{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
}


form {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.submitButton {
    color: #fff;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0;
    cursor: pointer;
    background-color: limegreen;
    /* a nice looking border */
    border: 1px solid #0f0;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    /* Make the line height 20px */
    line-height: 20px;
    width: 150px;
}

/* animate the submitButton smoothly */
.submitButton:hover {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: darkgreen;
}

/* un-animate the submitButton */
.submitButton:not(:hover) {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: limegreen;
}




#selectFileButton {
    /* a button to select a file */
    color: #fff;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0;
    width: 100%;
    cursor: pointer;
    background-color: blue;
    /* a nice looking border */
    border: 1px solid lightblue;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);


}

/* make the actual button look like a button */
#selectFileButton:hover {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: darkblue;

}

/* make links look like clickable buttons */
a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0;
    cursor: pointer;
    background-color: blue;
    /* a nice looking border */
    border: 1px solid lightblue;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    /* fonts*/
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    /* Make the text centered */
    text-align: center;
    /* Paddings */
    padding: 20px 20px;

}   

#linkInTextInput {
    /* Make it invisible but still selectable */
    position: absolute;
    top: -1000px;
    left: -1000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -1;

}

#copyToClipboardButton {
    /* a button to copy the link to the clipboard */
    color: #fff;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: auto;
    width: 250px;
    cursor: pointer;
    background-color: blue;
    /* a nice looking border */
    border: 1px solid lightblue;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    /* Make the line height 20px */
    line-height: 20px;

}

.centered {
    margin: 0 auto;
    display: block;
}

.textInputs {
    /* make the text inputs look like text inputs */
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    /* a nice black border */
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    /* Make the line height 20px */
    line-height: 20px;
    /* Make the text inputs centered */
    text-align: center;
    /* Increase size of the font */
    font-size: 20px;
    

}