<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>
    <!-- A form to take the name of the file to download and its password-->
    <form action="download" method="post">
        <label for="file_hash">File to download:</label>
        <input type="text" name="file_hash" id="file_hash" value="">
        <input type="submit" value="Download">
    </form>
</body>

</html>