<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/upload.css" rel="stylesheet">
</head>

<body>
  <!--- A simple upload form -->
  <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
    <input id="selectFileButton" type="file" name="file" required>
    <input id="password" type="password" name="password" required>
    <input id="submitButton" type="submit" value="Upload">
  </form>
</body>

</html>